<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Estoquim</title>

        <style>
            h1 {
                color: red;
            }

            h2 {
                color: blue;
            }

            .test {
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>